@header-height: 60px;

body {
    background-color: #eee;
}

#header {
    height: @header-height;
    background-color: #222;

    h1 {
        line-height: @header-height;
        color: #eee;
    }
}